{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "airbnb"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "globals": {},
  "plugins": ["react", "import", "react-hooks", "prettier"],
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "linebreak-style": ["error", "unix"],
    "comma-dangle": ["error", "only-multiline"],
    "object-curly-newline": "off",
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
